<?xml version="1.0"?>

<launch>
	<arg name="data_folder" default="$(find path_planner)/../../examples"/>
    <arg name = "occupancy_grid_name" default = "grid" />
    <arg name = "gazebo_world_name" default = "$(arg occupancy_grid_name).world" />

        <param name="occupancy_grid_name" type="string" value="$(arg data_folder)/$(arg occupancy_grid_name)"/>
        <param name="gazebo_world_file" type="string" value="$(arg data_folder)/$(arg gazebo_world_name)"/>
    <node name="generate_world_and_contours" pkg="octomap_to_gazebo" type="generate_world_and_contours.py" output="screen" />
</launch>
