<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="path_to_goal_folder" default="/home/vlad/test/1"/>
  <arg name="path_to_grid_folder" default="$(arg path_to_goal_folder)"/>


  <include file="$(find husky_gazebo)/launch/husky_empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
  </include>


  <node name="target_follower" pkg="target_follower" type="target_follower" />
  <node name="target_dispatcher" pkg="target_dispatcher" type="target_dispatcher" />
  <node name="path_planner" pkg="path_planner" type="path_planner" />

  <node name="husky_position" pkg="husky_position" type="husky_position" />
  <node name="husky_velocity" pkg="husky_velocity" type="husky_velocity" />


  <node name="grid_to_global" pkg="coord_transform" type="grid_to_global" />
  <node name="global_to_grid" pkg="coord_transform" type="global_to_grid" />
  <node name="occupancy_grid" pkg="occupancy_grid" type="create_grid.py" >
   <param name="path" value="$(arg path_to_grid_folder)"/>
  </node>
  <node name="goal" pkg="task_maker" type="goal.py" >
   <param name="path" value="$(arg path_to_goal_folder)"/>
  </node>
</launch>

